<div class="honor-div">
  <h3 class="text-center">{{  'honor_title' | translate}}</h3>
  <h4 class="text-center">{{  'honor_sub_title' | translate}}</h4>
</div>

<h5 class="text-center">{{ 'our_projects' | translate }}</h5>

<div class="d-none d-md-block" dir="LTR">
  <div class="owl-carousel-container">
    <owl-carousel #owlElement [options]="{ items: 4, dots: false, nav: true }" [carouselClasses]="['owl-theme', 'sliding']">
      <div class="item" *ngFor="let image of images;let i = index">
        <img src="{{image}}" />
        <div class="item-overlay"></div>
      </div>
    </owl-carousel>
  </div>
</div>
<div class="d-block d-md-none" dir="LTR">
    <div class="owl-carousel-container">
      <owl-carousel #owlElement [options]="{ items: 1, dots: false, nav: true }" [carouselClasses]="['owl-theme', 'sliding']">
        <div class="item" *ngFor="let image of images;let i = index">
          <img src="{{image}}" />
          <div class="item-overlay"></div>
        </div>
      </owl-carousel>
    </div>
  </div>
