<div class="footer-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 footer-logo">
          <img alt="{{ 'New_Smart_Holding' | translate }}" title="{{ 'New_Smart_Holding' | translate }}" class="pull-right " src="../../../assets/images/logo.png" />
      </div>
      <div class="col-md-6 footer-address">
        <div class=" pull-left">
            <h5>{{ 'address' | translate }}</h5>
            <p>
              {{ 'New_Smart_Holding' | translate }}<br>
              {{ 'address_details' | translate }}<br>
              {{ 'footer_telephone' | translate }}<br>
              {{ 'footer_fax' | translate }}<br>
              {{ 'footer_email' | translate }}<br>
            </p>
            <div class="footer-social-media">
                <a class="social-media-item" href="https://facebook.com/" target="_blank">
                  <i class="fa fa-facebook-f"></i>
                </a>
                <a class="social-media-item" href="https://twitter.com/" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
                <a class="social-media-item" href="https://instagram.com/" target="_blank">
                  <i class="fa fa-instagram"></i>
                </a>
                <a class="social-media-item" href="https://youtube.com/" target="_blank">
                  <i class="fa fa-youtube-play"></i>
                </a>
            </div>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col text-center footer-copyrights">
          {{ 'footer_copyrights' | translate }}
      </div>
    </div>
  </div>
</div>