<ngb-accordion [closeOthers]="true" (panelChange)="beforeChange($event)" class="accordion-container" activeIds="static-1">
    <ngb-panel id="static-1" title="{{ 'our_mission' | translate }}">
      <ng-template ngbPanelContent>
        {{ 'our_mission_message' | translate }} 
        
        {{ 'our_mission_message' | translate }}
        
        {{ 'our_mission_message' | translate }}
        
        {{ 'our_mission_message' | translate }}
        
        {{ 'our_mission_message' | translate }}
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-2" title="{{ 'our_vision' | translate }}">
      <ng-template ngbPanelContent>
        {{ 'our_vision_message' | translate }}
        
        {{ 'our_vision_message' | translate }}
        
        {{ 'our_vision_message' | translate }}
        
        {{ 'our_vision_message' | translate }}
        
        {{ 'our_vision_message' | translate }}
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
