@import 'variables';
.logo-container{
    background: rgba(0,0,0,.95);
    text-align: center;
    img{
        margin: 38px 0;
    }
}
.menu-container{
    background: $primaryColor;
    .navbar{
        margin:5px 0;
        padding: 0;
        .navbar-expand{
            width:100%;
            .navbar-nav{
                justify-content: space-between;
                width:100%;
                a{
                    font:bold 16px  'PT Sans';
                    letter-spacing: 5px;
                    color: $darkColor;
                    padding: 10px 20px;
                    cursor: pointer;
                    text-align: center;
                    text-transform: uppercase;
                    &.active{
                        background: $darkColor;
                        color:$lightColor;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
    .lang{
        position: absolute;
        top:-30px;
        right:20px;
        color: $lightColor;
        cursor: pointer;
    }
}


:host-context(.ar) {
    .menu-container{
        .lang{
            left:20px;
            right: auto !important;
        }
    }
}




// responsive

@media (max-width:750px){
    .navbar-expand .navbar-nav{
        flex-direction: column;
    }
}