@import 'variables';
.logo-container{
    background: rgba(0,0,0,.95);
    text-align: center;
    img{
        margin: 30px 0;
    }
}
.menu-container{
    background: $primaryColor;
    .navbar{
        margin:5px 0;
        padding: 0;
        .navbar-expand{
            width:100%;
            .navbar-nav{
                justify-content: space-between;
                width:100%;
                a{
                    font:bold 16px  'PT Sans';
                    letter-spacing: 5px;
                    color: $darkColor;
                    padding: 10px 20px;
                    cursor: pointer;
                    text-align: center;
                    text-transform: uppercase;
                    &.active{
                        background: $darkColor;
                        color:$lightColor;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
}





// responsive

@media (max-width:700px){
    .navbar-expand .navbar-nav{
        flex-direction: column;
    }
}