<div class="container-fluid logo-container">
    <img alt="{{ 'New_Smart_Holding' | translate }}" title="{{ 'New_Smart_Holding' | translate }}" src="../../../assets/images/logo.png" />
</div>
<div class="menu-container" #stickyMenu>
    <div class="container">
      <div class="row">
        <div class="col">
          <nav class="navbar">
            <div class="navbar-expand mr-auto">
              <div class="navbar-nav">
                  <a *ngFor="let n of menuItems" class="nav-item nav-link" [class.active]="clicked === n" 
                  (click)="clicked = n;scroll( n )" routerLink="/home" >{{ n | translate}}</a>
              </div>
            </div>
          </nav>
          <div class="lang">
              <div (click)="onLangChange('en')" *ngIf="language.currentLang == 'ar'" class="lang-item">English</div>
              <div (click)="onLangChange('ar')" *ngIf="language.currentLang == 'en'"  class="lang-item">العربيّة</div>
          </div>
        </div>
      </div>
    </div>
</div>

