@import 'variables';
/* You can add global styles to this file, and also import other style files */



// arabic Styles 

.ar{
    direction: rtl;
    div, h1 , h2 , h3 , h4 , h5 , h6, p , a, span, input , button, input::placeholder {
        letter-spacing: 0 !important;
        font-family: Tahoma !important;
    }
    .pull-left{
        float: right !important;
    }
    .pull-right{
        float: left !important;
    }
    .text-right{
        text-align: left !important;
    }
    .text-left{
        text-align: right !important;
    }
}