
// variables

$primaryColor:#cc9933;
$secondryColor:#ff0000;
$lightColor:#fff;
$darkColor:#000;
$lightGrayColor:#eee;
$ultraLightGrayColor:#999;
$normalGrayColor:#c4c2c2;
$darkGrayColor:#212121;
$gragBGColor:#b7b7b7;


// fonts

@font-face {
    font-family: 'abraham_lincoln';
    src: url('/assets/fonts/abrahamlincoln-webfont.eot');
    src: url('/assets/fonts/abrahamlincoln-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/abrahamlincoln-webfont.woff') format('woff'),
         url('/assets/fonts/abrahamlincoln-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'century';
    src: url('/assets/fonts/century.eot');
    src: url('/assets/fonts/century.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/century.woff') format('woff'),
         url('/assets/fonts/century.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}





